# Large binary files
*.ff1pkl

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/

# Cache files
cache/
*.sqlite

# data files
data/

# Environment variables
.env

# Test files
.pytest_cache/
.coverage
htmlcov/

# PostgreSQL data files
postgres_data/

